body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: #d3d3d3;
  padding: 0 0px;
}
p {
  text-align: center;
  color: #000000
}
